<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Test Get Children</title>
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
    <!-- Angular Js: -->
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

</head>

<body ng-app="" ng-controller="myController">
<h3>JCR Get Child Nodes Servlet with AngularJS</h3>
<div>
JCR Path: <input type="text" ng-model="jcrPath"><br>
Primary Type: <input type="text" ng-model="primaryType"><br>

key 1: <input type="text" ng-model="key1"><br>
key 2: <input type="text" ng-model="key2"><button ng-click="getChildren()">Get Children</button>


<br>
JCR Path: {{jcrPath}} <br>
    Primary Type : {{primaryType}} <br>

<h1>Results</h1>
<table>
  <tr ng-repeat="x in results">
    <td>{{ x[key1] }}</td>
    <td>{{ x[key2] }}</td>
  </tr>
</table>


</div>

<script>

    function myController($scope, $http)
    {

            $scope.baseUrl                    = "/etc.child.json",
            $scope.jcrPath = "/content/geometrixx/en/products",
    		$scope.primaryType = "cq:Page",
        	$scope.key1="createdBy",
        	$scope.key2="jcr:title";

        	// Get Child Nodes
       		//$scope.getChildren();



            $scope.getChildren = function()
        	{
            	var path="path="+$scope.jcrPath;
            	var type="type="+$scope.primaryType;
            	var responseGetData = $http.get($scope.baseUrl  + "?"+path+"&"+type);

            	responseGetData.success(function(data, status, headers, config)
            	{
                	console.log("Get Children Notes AJAX OK!");
                	console.log(data);
                	//Manuscript Notes = JSON Data
                	$scope.results  = data;
            	});
            	responseGetData.error(function(data, status, headers, config)
            	{
                	alert("Get Children AJAX failed!");
            	});
            }
      }
  </script>

</body>

</html>