<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Test XML</title>
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
    <!-- Angular Js: -->
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

</head>

<body ng-app="" ng-controller="myController">
<h3>Test Servlet XML with AngularJS</h3>
<div>
<button ng-click="testXML()">Test XML</button>

<script>

    function myController($scope, $http)
    {

            $scope.baseUrl                    = "/etc.xml.json",

            $scope.testXML = function()
        	{
            	var responseGetData = $http.get($scope.baseUrl);
            	responseGetData.success(function(data, status, headers, config)
            	{
                	console.log("Test XML AJAX OK!");
                	console.log(data);
            	});
            	responseGetData.error(function(data, status, headers, config)
            	{
                	alert("Get TestXML AJAX failed!");
            	});
            }
      }
  </script>

</body>

</html>