<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Run Work Flow</title>
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
    <!-- Angular Js: -->
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

</head>

<body ng-app="" ng-controller="myController">
<h3>Run Work flow using a Servlet called with AngularJS</h3>
<div>

Content Path: <input type="text" ng-model="contentPath" size="80"><br>
Approver: <input type="text" ng-model="approver"><br>
<button ng-click="runWorkflow()">Run Workflow</button>

<h1>Results</h1>
Work flow result:<span ng-bind="wfresult"></span>


</div>

<script>

    function myController($scope, $http)
    {

            $scope.baseUrl = "/etc.wf.json",
        	$scope.contentPath="/content/geometrixx/en/products";
            $scope.approver="admin";

            $scope.wfresult;

            $scope.runWorkflow = function()
        	{
            	var responseGetData = $http.get($scope.baseUrl+ "?command=approveWorkflow&contentpath="+$scope.contentPath+"&approver="+$scope.approver);

            	console.log(responseGetData);

            	responseGetData.success(function(data, status, headers, config)
            	{
                	console.log("Start Workflow AJAX OK!");
                	$scope.wfresult  = data;
                	console.log(data);

            	});
            	responseGetData.error(function(data, status, headers, config)
            	{
                	alert("Get Children AJAX failed!");
            	});
            }
      }
  </script>

</body>

</html>